{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Création d'un ticket</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

{% endblock %}
