{% extends "baseAdmin.html.twig" %}

{% block body %}
    <div class="pricing-content-2 col-md-offset-4">
        <div class="pricing-table-container">
            <div class="row">
                <div class="col-md-5">
                    <div class="price-column-container featured-price">
                        <div class="price-table-head price-2">
                            <h2 class="uppercase bg-green-jungle font-grey-cararra opt-pricing-5">VIP Club</h2>
                        </div>
                        <div class="price-table-pricing">
                            <h3>
                                <sup class="price-sign">€</sup>1 000 </h3>
                            <p class="uppercase">par mois *</p>
                        </div>
                        <div class="price-table-content">
                            <div class="row no-margin">
                                <div class="col-xs-3 text-right">
                                    <i class="icon-user-follow"></i>
                                </div>
                                <div class="col-xs-9 text-left uppercase">Rang VIP Discord</div>
                            </div>
                            <div class="row no-margin">
                                <div class="col-xs-3 text-right">
                                    <i class="icon-drawer"></i>
                                </div>
                                <div class="col-xs-9 text-left uppercase">Channel réservé</div>
                            </div>
                            <div class="row no-margin">
                                <div class="col-xs-3 text-right">
                                    <i class="icon-cloud-download"></i>
                                </div>
                                <div class="col-xs-9 text-left uppercase font-green sbold">pronostiques vip</div>
                            </div>
                            <div class="row no-margin">
                                <div class="col-xs-3 text-right">
                                    <i class="icon-refresh"></i>
                                </div>
                                <div class="col-xs-9 text-left uppercase font-green sbold">Sans engagement</div>
                            </div>
                        </div>
                        <div class="price-table-footer">
                            <button type="button" class="btn green featured-price uppercase">Acheter !</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="alert-info text-center col-md-6 col-md-offset-3"><p>* Il s'agit de l'argent fictif que vous gagnez sur le jeu. Aucun paiement de quelque sorte n'est demandé.</p></div>
{% endblock %}